In [1]:
#libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("data/raw/correlation_jngdc.csv")

In [6]:
df.head()

,Unnamed: 0,target,0,1,2,3,4,5,6,7,...,90,91,92,93,94,95,96,97,98,99
0,0,-33.649387,0.485653,0.901637,-1.212651,0.139052,0.709391,-0.994617,0.282911,-2.175066,...,-0.287330,0.834672,-0.692276,0.627274,1.149234,0.464482,1.593337,0.274752,2.152221,-0.205768
1,1,120.201493,-0.893088,-0.071643,0.009755,1.347144,0.379104,0.093540,0.585669,-1.109070,...,1.024032,1.248742,0.383929,0.456798,0.708521,-1.075047,0.428324,-0.803252,-0.114866,0.351547
2,2,-141.708704,0.456587,-0.472096,1.606499,1.367399,-0.073593,0.981937,-0.002895,0.250887,...,-0.540053,-1.386105,-1.124981,-0.012272,-2.196037,-0.213129,1.151220,0.885248,1.226929,-0.716621
3,3,-184.095636,-0.765121,-0.938719,-0.854190,0.131660,-0.414848,-0.008027,-0.988914,-1.434419,...,-1.893789,0.059948,-0.887020,-0.700581,-0.671862,1.461510,2.365019,-1.583156,-1.046293,-0.958653
4,4,246.179468,-0.382082,0.026456,2.268877,0.527533,-0.053195,1.566953,-1.114428,-0.545163,...,-0.984395,0.361132,2.491734,-1.471508,-1.187280,-1.700168,0.466667,-0.309938,0.253091,0.833892

In [7]:
df.describe()

,Unnamed: 0,target,0,1,2,3,4,5,6,7,...,90,91,92,93,94,95,96,97,98,99
count,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,...,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000
mean,249.500000,-0.882341,0.040909,-0.044409,0.015326,-0.002659,-0.025269,-0.032729,-0.000622,-0.058377,...,-0.016439,0.006792,-0.004135,0.028574,0.012293,-0.035024,-0.014596,0.006948,0.021480,0.020704
std,144.481833,160.922949,0.995599,1.038941,1.027452,1.002333,0.948094,1.038017,1.016408,1.009780,...,0.964704,0.965806,1.011696,1.026364,0.953036,0.993964,0.972360,1.012101,1.034461,0.695623
min,0.000000,-485.914105,-3.295622,-3.404040,-3.055395,-3.006454,-2.361600,-2.954778,-3.533474,-2.751860,...,-2.891768,-3.013295,-2.769261,-2.981596,-3.252246,-3.330832,-3.498941,-2.798465,-3.477856,-2.091394
25%,124.750000,-108.942259,-0.619451,-0.747889,-0.744192,-0.655444,-0.683751,-0.718099,-0.702255,-0.714270,...,-0.674046,-0.648048,-0.700792,-0.633364,-0.590984,-0.636269,-0.696476,-0.694931,-0.642972,-0.449730
50%,249.500000,-9.114029,0.024301,0.019376,0.022804,-0.018949,-0.037105,-0.100331,-0.045181,-0.083405,...,-0.004703,0.040149,0.013844,0.057463,0.027067,-0.089340,0.004414,-0.041657,-0.020279,-0.014053
75%,374.250000,117.389754,0.723823,0.594201,0.724441,0.637174,0.658918,0.755102,0.708908,0.638575,...,0.633062,0.620717,0.659937,0.695426,0.570234,0.644795,0.599302,0.717875,0.693682,0.495964
max,499.000000,456.485770,2.969883,3.736603,2.595107,2.849739,2.233543,2.747625,2.986527,2.431613,...,2.534847,2.639349,2.780089,3.046541,3.258845,3.642571,3.014729,3.469287,4.193439,2.145987

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Columns: 102 entries, Unnamed: 0 to 99
dtypes: float64(101), int64(1)
memory usage: 398.6 KB

In [9]:
print(df.isnull().sum())

Unnamed: 0    0
target        0
0             0
1             0
2             0
             ..
95            0
96            0
97            0
98            0
99            0
Length: 102, dtype: int64

In [10]:
# Correlation analysis with target variable
correlations = df.corr()["target"].sort_values(ascending=False)
print("\nTop correlated features with target:")
print(correlations.head(10))

Top correlated features with target:
target    1.000000
99        0.776946
92        0.583112
51        0.490532
58        0.334788
41        0.327573
46        0.288613
24        0.238231
87        0.184088
66        0.096549
Name: target, dtype: float64

In [11]:
# Select the top 5 features most correlated with target
selected_features = correlations.index[1:6]  # Skipping "target" itself
selected_columns = ["target"] + list(selected_features)

In [12]:
# Create the processed dataset
processed_df = df[selected_columns]

In [13]:
# Save the processed dataset
processed_data_path = 'data/processed/processed_data.csv'
processed_df.to_csv(processed_data_path, index=False)